@media screen and (max-width: 600px) {
    .pfooter {
        font-size: 15px !important ;
        line-height: 20px !important;
    }
    
}
body{background-color: #8CBF3F;}
/*nav bar*/
.backcolornav{background-color:#9453A6;}
.logo{
    width: 40px; 
    height: 40px;
}
/*contact content*/
.contact{
    padding: 4%;
    
}
.col-md-3{
    background: #F2CC0F;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #F2F2F2;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #8CBF3F;
    color: #F2F2F2;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
/*footer*/
.footer1{background-color:#9453A6;}
.row-m-left {margin: 0px;}
.text{
    text-align: center;
}
.pfooter{

    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #F2F2F2;
    line-height: 50px;  
}